<meta charset="UTF-8" />
<title>Ecommerce Store</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<link href="css/style.css" rel="stylesheet" />
<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
<script type="text/javascript">
  Paddle.Environment.set("sandbox");
  Paddle.Setup({
    vendor: 2714,
    eventCallback: function (data) {
      // The data.event will specify the event type
      if (data.event === "Checkout.Loaded") {
        console.log(data.eventData); // Data specifics on the event
      } else if (data.event === "Checkout.Close") {
        console.log(data.eventData); // Data specifics on the event
      }
    },
  });
</script>
<style>
  body {
    padding-top: 50px;
  }
</style>
