<meta charset="UTF-8" />
<title>Ecommerce Store</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<link href="css/style.css" rel="stylesheet" />
<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
<script type="text/javascript">
  Paddle.Environment.set("sandbox");
  Paddle.Setup({ vendor: 2714 });
</script>
<style>
  body {
    padding-top: 50px;
  }
</style>
